# Ignore EspoCRM stock files
/application/
/bin/
/client/*/
!/client/custom/
/client/custom/modules/dummy.txt
/custom/Espo/Custom/.htaccess
/custom/Espo/Modules/.htaccess
/data/
/html/
/install/
/public/
/vendor/
/.htaccess
/bootstrap.php
/clear_cache.php
/command.php
/cron.php
/daemon.php
/extension.php
/index.php
/LICENSE.txt
/preload.php
/rebuild.php
/upgrade.php
/websocket.php

# Ignore EspoCRM files created when entities are created
/custom/Espo/Custom/Controllers/CashDistribution.php
/custom/Espo/Custom/Controllers/DuplicateCheck.php
/custom/Espo/Custom/Entities/CashDistribution.php
/custom/Espo/Custom/Entities/DuplicateCheck.php
/custom/Espo/Custom/Repositories/CashDistribution.php
/custom/Espo/Custom/Repositories/DuplicateCheck.php
/custom/Espo/Custom/Resources/*
/custom/Espo/Custom/Services/CashDistribution.php
/custom/Espo/Custom/Services/DuplicateCheck.php

# Don't ignore files that have been changed
!/custom/Espo/Custom/Resources/metadata/app/client.json
!/custom/Espo/Custom/Resources/metadata/recordDefs/CashDistribution.json
!/custom/Espo/Custom/Resources/metadata/recordDefs/DuplicateCheck.json