/* Navbar: make the logo bigger */
header .navbar .navbar-header .navbar-logo-container img, header .navbar .navbar-header .navbar-logo-container a {
    height: 120px!important;
}
header .navbar .navbar-header {
    height: 150px!important;
    padding-bottom: 17px!important;
}
#login .logo-container {
    height: 100px;
    padding: 10px 10px 0px 10px;
}

/* IMPORT STEP 1 */
/* Hide fields which aren't needed/ allowed to be set */
.import-container .form-group:has(div[data-name="action"]) {
    display: None;
}
.import-container div[data-name="entityType"] div.selectize-dropdown-content > div {
    display: None;
}
.import-container div[data-name="entityType"] div.selectize-dropdown-content > div[data-value="DuplicateCheck"], .import-container div[data-name="entityType"] div.selectize-dropdown-content > div[data-value="CashDistribution"] {
    display: block;
}
.import-container .form-group:has(div[data-name="skipDuplicateChecking"]) {
    display: None;
}
.import-container .panel-body div#import-properties div.form-group:has(div[data-name="personNameFormat"]) {
    display: None;
}
.import-container .panel-body div#import-properties div.form-group:has(div[data-name="timeFormat"]) {
    display: None;
}
.import-container .panel-body div#import-properties div.form-group:has(div[data-name="timezone"]) {
    display: None;
}
.import-container .panel-body div#import-properties div.form-group:has(div[data-name="currency"]) {
    display: None;
}
.import-container .panel-body div#import-properties div.form-group:has(div[data-name="manualMode"]) {
    display: None;
}

/* IMPORT STEP 2 */
/* Hide options in field drop-down */
.import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="assignedUserName"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="assignedUserId"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="createdAt"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="createdById"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="createdByName"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="description"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="id"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="modifiedAt"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="modifiedById"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="modifiedByName"], .import-container #mapping-container table tr:not(:first-child) td:not(:first-child) select option[value="teamsIds"] {
    display: None;
}

/* IMPORT DETAIL/ RESULTS */
/* Hide the updated panel because updating records through import is disabled */
div.detail[data-scope="Import"] div.bottom > div.panel-updated[data-name="updated"] {
    display: None;
}
/* Hide the "Remove import log" and "Remove duplicates" buttons */
a.btn[data-name="removeImportLog"] {
    display: None;
}
a.btn[data-name="removeDuplicates"] {
    display: None;
}
/* Hide panels on import results pages */
div.detail.cashdistribution[data-scope="Import"] .record-grid .panel-importedNoDuplicates {
    display: None;
}
div.detail.duplicatecheck[data-scope="Import"] .record-grid .panel-imported {
    display: None;
}
/* Hide the entityType column */
div.list[data-scope="Import"] table.table thead th[data-name="entityType"], div.list[data-scope="Import"] table.table tbody td[data-name="entityType"] {
    display: None;
}
/* Colour the duplicates and errors red, and the non duplicates green */
div.detail[data-scope="Import"] .record-grid .panel-duplicates .panel-body[data-name="duplicates"] table tbody, .home-content .import-results .duplicates {
    background-color: #d16d1b2b;
}
div.detail[data-scope="Import"] .record-grid .panel-importedNoDuplicates .panel-body[data-name="importedNoDuplicates"] table tbody {
    background-color: rgb(45 193 67 / 13%);
}
div.detail[data-scope="Import"] .record-grid .panel-imported .panel-body[data-name="imported"] table tbody, .home-content .import-results .imported {
    background-color: rgb(45 193 67 / 13%);
}
div.detail[data-scope="Import"] .record-grid .panel-errors .panel-body[data-name="errors"] table tbody, .home-content .import-results .errors {
    background-color: #d11b1b29;
}
/* Add extra info to the panel titles */
.detail.cashdistribution .panel-imported .panel-title span::after {
    content: " - this data was saved successfully";
}
.detail.cashdistribution .panel-duplicates .panel-title span::after {
    content: " - this data was saved but is a duplicate of another cash distribution";
}
.detail.cashdistribution .panel-errors .panel-title span::after {
    content: " - this data was NOT saved because it contains errors";
}
.detail.duplicatecheck .panel-duplicates .panel-title span::after {
    content: " - the people with these National IDs have already received cash in another distribution";
}
.detail.duplicatecheck .panel-errors .panel-title span::after {
    content: " - this data has NOT been checked because it contains errors";
}
.detail.duplicatecheck .panel-importedNoDuplicates .panel-title span::after {
    content: " - the people with these National IDs have not received cash";
}


/* CASH DISTRIBUTION */
/* Create single entity CashDistribution: hide the teams field */
.record .edit[data-scope="CashDistribution"] .record-grid .form-group[data-name="teams"] {
    display: None;
}
/* Set padding to the icons in the buttons */
.header-buttons>.btn>.fa-file-upload, .header-buttons>.btn>.fa-network-wired {
    padding-right: 3px;
}

/* GLOBAL*/
/* Remove "merge" option from row actions */
ul.dropdown-menu.actions-menu li:has(a[data-action="merge"]){
    display: None;
}

/* HOME PAGE */
.home-content .page-header {
    margin-bottom: 25px;
}
.home-content .required {
    color: red;
}
.home-content table.data-example {
    max-width: 1000px;
    margin-top: 10px;
}
.home-content table.data-example .subtitle {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-bottom: 0px;
}
.home-content .import-results {
    max-width: 1000px;
    margin-top: 10px;
}
.home-content table.import-results .panel-name {
    width: 150px;
}
.home-content h3 {
    margin-top: 30px;
}
.home-content ol.instructions li {
    margin-bottom: 10px;
}
.home-content table.data-example th.national-id, .home-content table.duplicate-check {
    width: 300px;
}

/* USERS */
/* Hide avatars and assigned user info */
.form-group[data-name="avatar"] {
    display: None;
}
.record .edit[data-scope="User"] .record-grid .side {
    display: None;
}
.form-group[data-name="assignedUser"] {
    display: None;
}
.record .edit[data-scope="CashDistribution"] .record-grid .side {
    display: None;
}
/* Hide not needed fields: default team, roles, working time calendar, stream, gender, title */
.record .edit[data-scope="User"] .record-grid .form-group[data-name="defaultTeam"], .record .detail[data-scope="User"] .record-grid .form-group[data-name="defaultTeam"] {
    display: None;
}
.record .edit[data-scope="User"] .record-grid .form-group[data-name="roles"], .record .detail[data-scope="User"] .record-grid .form-group[data-name="roles"] {
    display: None;
}
.record .edit[data-scope="User"] .record-grid .form-group[data-name="workingTimeCalendar"], .record .detail[data-scope="User"] .record-grid .form-group[data-name="workingTimeCalendar"] {
    display: None;
}
.record .edit[data-scope="User"] .record-grid .panel[data-name="misc"], .record .detail[data-scope="User"] .record-grid .panel[data-name="misc"] {
    display: None;
}
.record .detail[data-scope="User"] .record-grid .panel-stream[data-name="stream"] {
    display: None;
}
.record .edit[data-scope="User"] .record-grid .form-group[data-name="gender"], .record .detail[data-scope="User"] .record-grid .form-group[data-name="gender"] {
    display: None;
}
.record .edit[data-scope="User"] .record-grid .form-group[data-name="title"], .record .detail[data-scope="User"] .record-grid .form-group[data-name="title"] {
    display: None;
}
/* Hide the calendar button, email accounts button, external accounts button */
.header.page-header .header-buttons a[data-name="calendar"] {
    display: None;
}
.header.page-header .header-buttons li:has(a[data-name="emailAccounts"]) {
    display: None;
}
.header.page-header .header-buttons a[data-name="externalAccounts"] {
    display: None;
}
/* Hide user history and activities panels */
.record .detail[data-scope="User"] .record-grid .side .panels-show-more-delimiter, .record .detail[data-scope="User"] .record-grid .side .panel[data-name="activities"], .record .detail[data-scope="User"] .record-grid .side .panel[data-name="history"] {
    display: None;
}

/* TEAMS */
/* Hide unneeded fields: Position list, layout set, working time calendar */
.record .edit[data-scope="Team"] .record-grid .form-group[data-name="positionList"], .record .detail[data-scope="Team"] .record-grid .form-group[data-name="positionList"] {
    display: None;
}
.record .edit[data-scope="Team"] .record-grid .form-group[data-name="layoutSet"], .record .detail[data-scope="Team"] .record-grid .form-group[data-name="layoutSet"] {
    display: None;
}
.record .edit[data-scope="Team"] .record-grid .form-group[data-name="workingTimeCalendar"], .record .detail[data-scope="Team"] .record-grid .form-group[data-name="workingTimeCalendar"] {
    display: None;
}